@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6ff;
  color: rgb(36, 36, 36);
}

.blob-box {
  min-width: 100vw;
}

.content-box {
  display: flex;
  flex-direction: column;
}

.create-account-content {
  padding: 1rem 2rem;
}

.css-1480iag-MuiInputBase-root-MuiInput-root {
  font-family: "Ubuntu";
}

.details {
  margin-top: 2rem;
}

.else {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.error-msg {
  height: 1.5rem;
  margin-left: 0.4rem;
}

.facebook {
  font-size: 1.85rem;
  margin-right: 0.8rem;
  color: rgb(57, 57, 180);
}

.forgot {
  color: #bcbcf7;
  font-family: "Ubuntu";
}

.google {
  margin-right: 0.8rem;
  font-size: 1.95rem;
  color: Red;
}

hr {
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.input-detail {
  padding: 0.5rem 0rem 0.2rem 0rem;
}

.input-details {
  padding-top: 2rem;
}

.login-btn {
  text-align: center;
}

.login-content {
  align-items: center;
  padding: 0 2.5rem;
}

.login-content h2 {
  font-size: 2rem;
  padding-bottom: 0.8rem;
  letter-spacing: -1px;
  margin: 0;
}

.social-accounts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text1,
.sign-up .link {
  font-family: "Ubuntu";
  color: #4645e3;
}

.top-blob {
  float: right;
}

.twitter {
  font-size: 2.2rem;
  color: rgb(4, 100, 226);
}
