.explore-item {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  font-size: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  font-size: 10px;
  /* border-radius: 10px; */
  /* background-color: rgb(228, 189, 189); */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}

/* .card-header {
    gap: 2rem;
} */

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;
}

.card-content p,
.card-content h3,
.card-content h6 {
  color: rgb(7, 7, 98);
}

.card-content h3 {
  font-size: 14px;
  font-weight: 700;
  margin: 0.5rem;
}

.card-content h6 {
  font-size: 12px;
  margin: 0.5rem;
  font-weight: 400;
}

.card-image {
  width: 110px;
  height: 110px;
}

.img {
  width: 100px;
  height: 90%;
}

.MuiTabs-flexContainer {
  justify-content: space-evenly;
}

.MuiCard-root {
  margin-bottom: 10px;
}

.MuiCardActions-root {
  justify-content: space-between;
  padding: 4px 15px;
}

.explore-item-button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(7, 7, 98);
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.5);
  background-color: white;
  transition: all 0.2s;
  color: rgb(7, 7, 98);
}

.explore-item-button:active {
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
}

/* media queries */

@media screen and (min-width: 768px) {
  .explore-item {
    margin: 1rem 5rem;
  }
}
