.avatar-container {
  margin: 0 3rem;
  padding: 1rem;
}

.profile-list {
  margin: 0 0.5rem;
  padding: 0 1.5rem;
}

.qrcode {
  margin: 1rem 0;
}

.field {
  border-bottom: 1px solid #ccc;
  margin: 0.2rem 0.5rem;
  padding: 0.5rem;
}

.field p {
  margin: 0;
  padding: 0;
}

.main-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-top: -3rem;
  font-family: consolas;
}

.content-container {
  /* padding: 1.6rem 0.5rem; */
  height: 30rem;
  width: 85vw;
  background-color: #8fa7cb;
  color: white;
  border: 1rem inset black;
  margin-top: -4.5rem;
}

.content-container p {
  font-size: 4vw;
  font-weight: 580;
}

@media screen and (min-width: 768px) {
  .avatar-container {
    margin: 0 3rem;
    padding: 3rem;
  }

  .profile-list {
    margin: 1rem 10rem;
  }
}
