.field {
  border-bottom: 1px solid #ccc;
  margin: 0.2rem 0.5rem;
  padding: 0.5rem;
}

.field p {
  margin: 0;
  padding: 0;
}

.field p:nth-of-type(1) {
  font-size: 0.7rem;
  color: rgb(151, 150, 150);
  font-weight: 500;
  text-transform: capitalize;
}
