.instruction-image {
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 9;
  width: 60%;
  height: 60%;
  display: block;
}

button {
  font-weight: 600;
  font-size: medium;
}

.instruction {
  padding-top: 5vh;
  padding-left: 5vw;
}

.instruction h2 {
  text-align: center;
}
