.explore-item {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  font-size: 10px;
}

.main-card {
  border-radius: 10px;
  background-color: rgb(235, 210, 210);
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}

.active-card {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  font-size: 10px;
  border-radius: 10px;
  background-color: rgb(228, 189, 189);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card-content p {
  padding: 0.2rem 1rem;
  background-color: aliceblue;
  border-radius: 2rem;
}

.card-content h3 {
  font-size: 12px;
  margin: 1rem 0.5rem;
}

.card-content h6 {
  font-size: 10px;
  margin: 0.5rem;
  font-weight: 300;
}

.img {
  width: 120px;
  height: 100%;
}

.MuiTabs-flexContainer {
  justify-content: space-evenly;
}

.MuiCard-root {
  margin-bottom: 10px;
}

.MuiCardActions-root {
  justify-content: space-between;
  padding: 4px 15px;
}
