.explore-header {
  text-align: left;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  margin: 0;
  background-color: #fff;
  position: sticky;
  z-index: 1;
  top: 0;
  min-height: 48px;
}
