.explore-header {
  text-align: left;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  margin: 0;
  background-color: #fff;
  position: sticky;
  z-index: 1;
  top: 0;
  min-height: 48px;
}

.domain {
  display: flex;
  color: rgb(146, 144, 144);
  font-weight: 500;
  font-size: 14px;
  padding-top: 1rem;
  justify-content: space-around;
  align-items: baseline;
}

.domain hr {
  width: 30%;
}

.domain p {
  margin-right: 10px;
}
